@using System.Linq

@using (Html.BeginForm("Details", "Report", FormMethod.Post, new { id = "queryform" }))
{
<div class="row">
    <div class="col-md-3">
        <p>
            Velg område:
        </p>
        <div class="custom-select">
            <select required data-placeholder="Klikk for å velge område" name="areas" class="chosen-select form-control selectOmraader">
                <option></option>
                <option @(((IList<string>)ViewBag.selectedAreas).Contains("Hele landet") ? "selected" : "")>Hele landet</option>
                <optgroup label="Fylke">
                    @foreach (KeyValuePair<String, String> fylke in ViewBag.fylker)
                    {
                        <option value="@fylke.Key" @(((IList<string>)ViewBag.selectedAreas).Contains(fylke.Key) ? "selected" : "")>@fylke.Value</option>
                    }
                </optgroup>
                <optgroup label="Kommuner">
                    @foreach (KeyValuePair<String, String> kommune in ViewBag.kommuner)
                    {
                        <option value="@kommune.Key" @(((IList<string>)ViewBag.selectedAreas).Contains(kommune.Key) ? "selected" : "")>@kommune.Value</option>
                    }
                </optgroup>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <p>
            Velg data:
        </p>
        <div class="custom-select">
            <select required data-placeholder="Klikk for å velge data" class="chosen-select form-control" id="data" name="data" onchange="getQueries();">
            </select>
        </div>
    </div>
    <div class="col-md-4">        
        <p>
            Velg spørring:
        </p>
        <div class="custom-select">
            <select required name="query" id="query" class="chosen-select form-control" data-placeholder="Klikk for å velge spørring">
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <p>&nbsp;</p>
        <div class="form-group">
            <input class="btn show-loading-animation" data-loading-message="Genererer rapport" type="submit" value="Vis" />
            <input class="btn" name="action" type="submit" value="Excel" />
        </div>
    </div>
</div>
}

<script>
    var model = '@Html.Raw(Json.Encode(ViewBag.Queries))';
    var selectedData = '@ViewBag.data';
    var selectedQuery = '@(ViewBag.query != null ? ViewBag.query.Value : "")';
    var $dataSelect = $('#data');
    $dataSelect.find('option').remove();
    $dataSelect.append('<option></option>');
    var prevGroup, $group = $();
    $.each(JSON.parse(model), function (i, v) {
        group = v.Data.Group.Value;
        if (group != prevGroup) {
            $group = $('<optgroup />', { label: group }).appendTo('#data');
        }
        if (!$("#data option[value='" + v.Data.Value + "']").length > 0)
        {
            $group.append($('<option />', {
                text: v.Data.Name,
                value: v.Data.Value
            }));
        }
     prevGroup = group;

    });

    if (selectedData != "")
        $("#data").val(selectedData).find("option[value=" + selectedData + "]").attr('selected', true);
    @if (!string.IsNullOrEmpty(ViewBag.data))
    {
        @: getQueries();
    }
    if (selectedQuery != "")
        $("#query").val(selectedQuery).find("option[value=" + selectedQuery + "]").attr('selected', true);

    $dataSelect.trigger("chosen:updated");

    function getQueries()
    {
        var selectedData = $("#data option:selected").val();
        console.log("selectedData:"+selectedData);

        var $querySelect = $('#query');
        $querySelect.find('option').remove();
        $querySelect.append('<option></option>');
        $.each(JSON.parse(model), function (i, v) {
            console.log(v.Data.Value + ":" + selectedData);
            if (v.Data.Value == selectedData) {
                $querySelect.append('<option value=' + v.Value + '>' + v.Name + '</option>');
            }
        });

        $querySelect.trigger("chosen:updated");
    }
</script>
