@using System.Linq
@using (Html.BeginForm("Details", "Report", FormMethod.Post, new { id = "queryform" }))
{
<div class="row">
    <div class="col-md-3">
        <p>
            Velg område:
        </p>
        <div class="form-group">
            <div class="input-group chosen-input-group input-group-omraade">
                <select data-placeholder="Klikk for å velge område" name="areas" multiple class="chosen-select form-control selectOmraader">
                    <option @(((IList<string>)ViewBag.selectedAreas).Contains("Hele landet") ? "selected" : "")>Hele landet</option>
                    <optgroup label="Fylke">
                        @foreach (KeyValuePair<String, String> fylke in ViewBag.fylker)
                        {
                            <option value="@fylke.Key" @(((IList<string>)ViewBag.selectedAreas).Contains(fylke.Key) ? "selected" : "")>@fylke.Value</option>
                        }
                    </optgroup>
                    <optgroup label="Kommuner">
                        @foreach (KeyValuePair<String, String> kommune in ViewBag.kommuner)
                        {
                            <option value="@kommune.Key" @(((IList<string>)ViewBag.selectedAreas).Contains(kommune.Key) ? "selected" : "")>@kommune.Value</option>
                        }
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <p>
            Velg data:
        </p>
        <div class="form-group custom-select">
            <select class="form-control" name="data">
                <option></option>
                <optgroup label="Datapakker">
                    <option @(ViewBag.data == "Det offentlige kartgrunnlaget" ? "selected" :"")>Det offentlige kartgrunnlaget</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="col-md-4">        
        <p>
            Velg spørring:
        </p>
        <div class="form-group custom-select">
            <select name="query" class="form-control" data-placeholder="Velg spørring">
                <option></option>
                <option @(ViewBag.query == "Antall DOK-datasett valgt og tillegg pr kommune" ? "selected" :"")>Antall DOK-datasett valgt og tillegg pr kommune</option>
                <option @(ViewBag.query == "Valgte DOK-datasett pr tema" ? "selected" :"")>Valgte DOK-datasett pr tema</option>
                @*<option @(ViewBag.query == "DOK-datasett dekning og valgt pr kommune" ? "selected" :"")>DOK-datasett dekning og valgt pr kommune</option>*@
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <p>&nbsp;</p>
        <div class="form-group">
            <input btn-default" type="submit" value="Vis" />
        </div>
    </div>
</div>
}
