@using System.Linq
@using (Html.BeginForm("Details", "Report", FormMethod.Post, new { id = "queryform" }))
{
<div class="row">
    <div class="col-md-3">
        <p>
            Velg område:
        </p>
        <div class="custom-select">
            <select required data-placeholder="Klikk for å velge område" name="areas" class="chosen-select form-control selectOmraader">
                <option></option>
                <option @(((IList<string>)ViewBag.selectedAreas).Contains("Hele landet") ? "selected" : "")>Hele landet</option>
                <optgroup label="Fylke">
                    @foreach (KeyValuePair<String, String> fylke in ViewBag.fylker)
                    {
                        <option value="@fylke.Key" @(((IList<string>)ViewBag.selectedAreas).Contains(fylke.Key) ? "selected" : "")>@fylke.Value</option>
                    }
                </optgroup>
                <optgroup label="Kommuner">
                    @foreach (KeyValuePair<String, String> kommune in ViewBag.kommuner)
                    {
                        <option value="@kommune.Key" @(((IList<string>)ViewBag.selectedAreas).Contains(kommune.Key) ? "selected" : "")>@kommune.Value</option>
                    }
                </optgroup>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <p>
            Velg data:
        </p>
        <div class="custom-select">
            <select required data-placeholder="Klikk for å velge data" class="chosen-select form-control" name="data">
                <option></option>
                <optgroup label="Datapakker">
                    <option @(ViewBag.data == "Det offentlige kartgrunnlaget" ? "selected" : "")>Det offentlige kartgrunnlaget</option>
                </optgroup>
                <optgroup label="Tema">
                    <option @(ViewBag.data == "HC-parkeringsplasser" ? "selected" : "")>HC-parkeringsplasser</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="col-md-4">        
        <p>
            Velg spørring:
        </p>
        <div class="custom-select">
            <select required name="query" class="chosen-select form-control" data-placeholder="Klikk for å velge spørring">
                <option></option>
                <option @(ViewBag.query == "Antall DOK-datasett valgt og tillegg pr kommune" ? "selected" :"")>Antall DOK-datasett valgt og tillegg pr kommune</option>
                <option @(ViewBag.query == "Valgte DOK-datasett pr tema" ? "selected" :"")>Valgte DOK-datasett pr tema</option>
                <option @(ViewBag.query == "DOK-datasett dekning og valgt pr kommune" ? "selected" :"")>DOK-datasett dekning og valgt pr kommune</option>
                <option @(ViewBag.query == "Bredde < 200 cm" ? "selected" : "")>Bredde < 200 cm</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <p>&nbsp;</p>
        <div class="form-group">
            <input class="btn show-loading-animation" data-loading-message="Genererer rapport" type="submit" value="Vis" />
            <input class="btn" name="action" type="submit" value="Excel" />
        </div>
    </div>
</div>
}
