@using Kartverket.ReportGenerator.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Stylesheets -->
    @Styles.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/css/styles")

    <!-- Scripts -->
    <script>
        var applicationEnvironment = '@Html.EnvironmentName()';
        var applicationVersionNumber = '@Html.ApplicationVersionNumber()';
        var authenticationData = {
            supportsLogin: true,
            isAuthenticated: @Request.IsAuthenticated.ToString().ToLower(),
            urlActionSignOut: '@Url.Action("LogOut", "AuthServices")',
            urlActionSignIn: '@Url.Action("SignIn", "AuthServices", new { ReturnUrl = Request.Url })'
            @if (Request.IsAuthenticated)
            {
                foreach (var c in System.Security.Claims.ClaimsPrincipal.Current.Claims) {
                    if (c.Type == "urn:oid:0.9.2342.19200300.100.1.1" || c.Type == "username") {
                       <text>, userName: '@c.Value'</text>
                    }
                }
            }
        }
    </script>
    @Scripts.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/scripts")
</head>
<body class="geonorge-container prototype  geonorge ng-scope" ng-app="geonorge">
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR2X5P"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MR2X5P');</script>
    <!-- End Google Tag Manager -->

    @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_SharedMenu.min.cshtml")

    <div class="container container-breadcrumbs" id="navTabCont">
        <ul class="breadcrumbs col-md-12">
            <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
            <li><a href="/">Rapportverktøy</a></li>
            @RenderSection("breadcrumb", false)
        </ul>
    </div>
    <div class="body-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer.cshtml")

    @RenderSection("scripts", required: false)
</body>
</html>
