@using Kartverket.ReportGenerator.Helpers
@using Kartverket.ReportGenerator.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script>
        var applicationEnvironment = '@Html.EnvironmentName()';
        var applicationVersionNumber = '@Html.ApplicationVersionNumber()';

        var cultureData = {
            friendlyUrlEN: '@Html.Raw(Url.Action("SetCulture", "Report", new { culture = Kartverket.ReportGenerator.Models.Translations.Culture.EnglishCode, ReturnUrl = Request.Url }))',
            friendlyUrlNO: '@Html.Raw(Url.Action("SetCulture", "Report", new { culture = Kartverket.ReportGenerator.Models.Translations.Culture.NorwegianCode, ReturnUrl = Request.Url }))',
            currentCulture: '@CultureHelper.GetCurrentCulture()'
        };
    </script>
    @Scripts.Render("~/shared-partials-scripts")
</head>
<body class="geonorge-container prototype geonorge">

    <div id="loading-animation" class="loading-animation" style="display: none;"></div>

    @Html.Raw(File.ReadAllText(Server.MapPath("~/dist/partials/Header.html")))
    @Styles.Render("~/shared-partials-styles")
    @Styles.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/css/styles")

    <div class="container container-breadcrumbs" id="navTabCont">
        <ul class="breadcrumbs col-md-12">
            <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
            <li><a href="/">@UI.ReportingTools</a></li>
            @RenderSection("breadcrumb", false)
        </ul>
    </div>
    <div class="body-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @if (CultureHelper.IsNorwegian())
    {
        @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer.min.cshtml");
    }
    else
    {
        @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer_eng.min.cshtml");
    }
    <script>
        searchOption.supportsLogin = true;
        searchOption.loginUrl = '@Html.Raw(Url.Action("SignIn", "Report", new { ReturnUrl = Request.Url }))';
        searchOption.logoutUrl = '@Html.Raw(Url.Action("SignOut", "Report"))';
        searchOption.loggedIn = @Request.IsAuthenticated.ToString().ToLower();
        searchOption.epiBaseUrl = '@Html.GeonorgeUrl()';
        var orderItems = Cookies.get('orderitems');
        if (orderItems && orderItems > 0) {
            $('.downloads__count').show();
            $('.downloads__count').text(orderItems);
        }
    </script>
    @Scripts.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/js/scripts")
    @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Analytics.min.cshtml")

    @RenderSection("scripts", required: false)
</body>
</html>
